* { 
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    border: none;
    outline: none;
    font-family: Roboto, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; /*Cambiar*/
 }

 li, h1, h2, h3, h4, h5, h6, p, button{
     color: #FEF7F7;
 }

 p{
     font-size: 10px;
 }

 header, header div.divImagenMenuHamburguesa, header div.mostrarMenuDesplegable, header div.divImagenCruz, 
 header div.listasRedesSocialesMenu ul, main section.seccionBannerJuegoEstreno .contenidoBanner, 
 main section ul, main section ul li, footer div.contenidoFooter, footer div.listasEnlaces, 
 footer div.listasRedesSociales, footer div.redesSociales ul{
    display: flex;
 }

 header, header div.mostrarMenuDesplegable, header div.listasRedesSocialesMenu, main, 
 main section.seccionBannerJuegoEstreno, main section.seccionBannerJuegoEstreno img, 
 main .contenidoBanner h2, main section.seccionRecomendados, main section.seccionJuegos,footer{
    width: 100%;
 }

/*Oculto y muestro el menu desplegable con "header div.menuDesplegable"*/
header input,  header div.menuDesplegable, .ocultarLogoMenuHamburguesa/*CON JS*/, main .contenidoBanner p, footer h3 {
    display: none;
}

body {

    background: #4A0065;
    background: linear-gradient(0deg, #1F0328 0%,#4A0065 100%);
    transition: 1s;
 }

 .juegoEstreno{
    background: #4A0065;
    background: linear-gradient(0deg, #320000 0%,#5C0000 100%);
    transition: 1s;
 }

/*************************************HEADER*************************************************************/

 header {
     max-height: 45px;
     background-color: #6E6BBE;
     justify-content: space-between;
     top: 0;
     position: fixed;
     z-index: 10;
 }

 header img.logoPagina {
    width: 40px;
    height: 40px;
    margin: 3px 10px;
}

 header img.menuHamburguesa {
     width: 35px;
     margin: 3px 10px;
 }
 
  header div.divImagenMenuHamburguesa {
      justify-content: flex-end;
  }

 header div.mostrarMenuDesplegable { /*CON JS*/
    flex-direction: column;
    justify-content: space-between; 
    height: 100%;

    background-color: #6E6BBE;
    opacity: 100%;
 }

 header div.mostrarMenuDesplegable ul{
    text-align: center;
    height: 250px;
 }

 header div.mostrarMenuDesplegable ul li{
    font-size: 18px;
    margin: 20px 0 10px 0;

 }

 header div.mostrarMenuDesplegable ul a li:hover{
    color: #B8B4FE;
 }

 header div.divImagenCruz {
     justify-content: flex-end;
     align-items: flex-end;
 }

 .cruz {
    width: 40px;
     margin: 5px 7px 0 0;
 }

 header div.listasRedesSocialesMenu ul{
    justify-content: center;
 }

 header div.listasRedesSocialesMenu img{
    width: 35px;
    margin: 5px 5px;
 }

 .oscurecerFondo {
     opacity: 100%;
 }

 main h2 {
    width: 40%;
    background-color: #873FA0;
    color: #D8D6FF;
    text-align: center;
    padding: 0%;
    margin: 15px auto 2px auto ;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    font-size: 16px;
}

/******************JUEGO ESTRENO***************/
.seccionBannerPaginaJuegoEstreno {
    position: relative;
    top: 35px;
    left: 0;
    margin: 10px 0 50px 0;
}


.bannerEstreno1, .bannerEstreno2 {
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
}

.bannerEstreno2,  .seccionBannerPaginaJuegoEstreno button, 
.seccionBannerPaginaJuegoEstreno .car, .seccionBannerPaginaJuegoEstreno .polvo{
    position: absolute;
    z-index: 2;
}

.seccionBannerPaginaJuegoEstreno button{
    top: 30%;
    left: 35%;
    padding: 10px;
    background: rgb(202,3,3);
    background: linear-gradient(0deg, rgba(202,3,3,1) 0%, rgba(239,32,32,1) 100%);
    transition: 1s;
    opacity: 0.4;
    z-index: 3;
}

.seccionBannerPaginaJuegoEstreno button:hover{
    transition: 1s;
    opacity: 1;
}

.seccionBannerPaginaJuegoEstreno .car{
    top: 68%;
    left: 40%;
    width: 25%;
    z-index: 4;
}

.seccionBannerPaginaJuegoEstreno .polvo{
    z-index: 3;
    left: 10%;
    top: 19%;
    width: 80%;
}

.seccionesCars{
    position: relative;
    width: 100%;
    top: 5px;
    left: 0;
    margin-bottom: 50px;
}

.tituloSeccion {
    position: absolute;
    width: 100%;
}

.seccionesCars .tituloSeccion img {
    position: relative;
    width: 70%;
    top: 0;
    left: 17%;
    margin: 0;
    z-index: 1;
}
.tituloSeccion h2 {
    position: absolute;
    top: 0%;
    left: 32%;
    z-index: 2;
}

.contenidoSeccion{
    position: relative;
    width: 100%;
    height: 250px;
    top: 0px;
    left: 0;
}

.seccionesCars img {
    position: absolute;
    width: 100%;
    top: 20px;
    left: 0;
    margin: 0px 0;
    z-index: 1;
}
.seccionesCars p{
    position: absolute;
    width: 49%;
    top: 29%;
    left: 50%;
    margin: 0px 0;
    z-index: 2;
}

/****************************************************/

 main section.seccionBannerJuegoEstreno img{
    position: relative;
    top: 12px;
    height: 160px;
    margin: 27px 0 0 0;
    opacity: 60%;
}

main section.seccionBannerJuegoEstreno .contenidoBanner{
    position: absolute;
    top: 80px;
    left: 50px;
    flex-direction: column;
    justify-content: flex-start;
}

main .contenidoBanner h2 {
    font-size: 25px;
    font-weight: bold;
    background-color: transparent;
    text-align: start;
    margin: 0 0 1px 0;
}

main .contenidoBanner p {
    font-size: 12px;
    margin: 2px 0 4px 0;
}

main .contenidoBanner button {
    width: 100px;
    height: 20px;
    font-size: 16px;
    background-color: #6E6BBE;
    border-radius: 30px;
    margin: 4px auto 0 auto;
    padding-bottom: 23px;
}

main section.seccionRecomendados, main section.seccionJuegos {
    margin: 0px auto 40px 0;
}

main section ul {
    justify-content: space-between;
    padding: 5px;
    overflow-y: auto;
}

main section ul li {
    width: 130px;
    height: 160px;
    background-color: #B8B4FE;
    margin: 2px;
    border-radius: 20px;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    flex: 1 0 auto
}

main section ul li img {
    width: 75%;
    height: 60%;
}

main section ul li h3 {
    font-size: 12px;
    margin: 0 auto;
    color: #4A0065;
}

main section ul li button {
    width: 50px;
    height: 23px;
    font-size: 15px;
    background-color: #78d694cc;
}

 /*************************************FOOTER*************************************************************/

 footer {
    background-color: #272727;
    margin: 10px 0 0 0;
 }

 footer img.logoPagina {
    width: 40px;
    height: 40px;
    margin: auto 0;
    margin: 3px 0 0 0;
 }

 footer div.contenidoFooter {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
 }

 footer h3 {
    font-size: 15px;
    margin: 10px 0 0 0;
    text-align: center;
 }

 footer div.listasEnlaces, footer div.listasRedesSociales, footer div.redesSociales ul{
    justify-content: space-around;
    margin: auto 0;
 }

 footer div.listasEnlaces {
    margin: 0 0 5px 0;
 }

 footer div.listasEnlaces ul{
    margin: 5px 5px;
 }

 footer div.listasEnlaces ul a li{
    color: #B8B4FE;
 }

 footer div.listasEnlaces ul a li:hover{
    color: #6E6BBE;
 }

 footer div.listasEnlaces ul li{
    margin: 4px 5px;
    font-size: 12px;
    text-align: center;
 }

 footer div.redesSociales ul li{
    margin: 0 4px;
 }

 footer div.redesSociales ul li img{
    width: 30px;
 }

 footer div.copiright {
     background-color: #AEADBF;
 }

 footer div.copiright h3 {
     display: block;
     color: #272727;
     font-size: 12px;
     padding: 5px 0;
 }
  /**************************************************************************************************/

 @media only screen and (min-width: 600px){
    header {
        max-height: 87px;
    }

    header img.logoPagina {
        width: 87px;
        height: 83px;
    }
    
    header input {
        width: 365px;
        height: 40px;
        margin: auto 0;
        display: block;
        background-color: #FEF7F7;
        border: solid 3px black;
        border-radius: 50px;
        padding-left: 20px;
    }

     header img.menuHamburguesa {
         width: 53px;
         height: 59px;
         margin: auto 0;
     }

     /*Oculto y muestro el menu desplegable*/
    header div.mostrarMenuDesplegable { /*CON JS*/
        width: 42%;
    }

    .fondoOscuro{
        border: #1F0328;
        margin: 100px;
        color: rgba(0, 0, 0, 0.945) ;
        width: 100px;
        height: 100px;
    }
    header div.mostrarMenuDesplegable ul li{
        font-size: 24px;
        margin: 40px
    }

    .cruz {
        width: 70px;
        margin: auto 0;
    }

    header div.listasRedesSocialesMenu img{
        width: 60px;
    }

    .oscurecerFondo {
        opacity: 60%;
    }

     main section.seccionBannerJuegoEstreno img{
        height: 418px;
        margin: 27px 0 10px 0;
    }

    main section.seccionBannerJuegoEstreno .contenidoBanner{
        top: 150px;
        left: 100px;
    }
    
    main .contenidoBanner h2 {
        font-size: 40px;
        margin: 0 0 3px 0;
    }
    
    main .contenidoBanner p {
        display: block;
        font-size: 24px;
        margin: 5px 0 8px 0;
    }
    
    main .contenidoBanner button {
        width: 148px;
        height: 30px;
        font-size: 24px;
        margin: 8px 0 0 0;
        padding-bottom: 35px;
    }

     main h2 {
         font-size: 24px;
     }

     main section ul li {
        width: 203px;
        height: 225px;
        margin: 0 5px;

     }

     main section ul li img {
        width: 163px;
        height: 145px;
    }

    main section ul li h3 {
        font-size: 16px;
    }
    
    main section ul li button {
        width: 114px;
        height: 36px;
        font-size: 24px;
    }

    footer img.logoPagina {
        width: 100px;
        height: 100px;
     }

     footer div.contenidoFooter {
        flex-direction: row;
     }
    
     footer h3 {
        font-size: 36px;
        margin: 30px 0 0 0;
        display: block;
     }
    
     footer div.contenidoFooter {
        justify-content: space-around;
     }
    
     footer h3 {
        font-size: 36px;
        margin: 30px 0 0 0;
        text-align: center;
     }
    
     footer div.listasEnlaces {
        margin: 0 0 15px 0;
     }
    
     footer div.listasEnlaces ul{
        margin: 5px 20px;
     }
    
     footer div.listasEnlaces ul li{
        margin: 10px 5px;
        font-size: 20px;
     }
    
     footer div.redesSociales ul{
        display: block;
        margin: 5px 20px;
     }
    
     footer div.redesSociales ul li{
        margin: 32px 5px;
     }
    
     footer div.redesSociales ul li img{
        width: 50px;
        height: 50px;
     }
    
     footer div.copiright {
         background-color: #AEADBF;
     }
    
     footer div.copiright h3 {
        font-size: 20px;
        padding: 4px 0;
     }
  
 }


 /*4 en linea*/

 main div.titulo {
    width: 100%;
    margin-top: 100px;
    display: flex;
    justify-content: center;
    position: relative;
}

 main div.titulo img {
     width: 50%;
 }

 main div.titulo h1 {
    text-align: center;
    color: #FEF7F7;
    font-size: 40px;
    position: absolute;
    top: 43%;
    left: 37%;
}
main div.contenidoJuego {
    width: 100%;
}

main div.imagenJuego {
    display: flex;
    justify-content: center;
    position: relative;
    width: 90%;
}


main div.imagenJuego img {
    width: 100%;
    opacity: 70%;
}

main div.imagenJuego button {
    width: 215px;
    height: 70px;
    color: #FEF7F7;
    background-color: #78d694;
    position: absolute;
    top: 47%;
    left: 43%;
    margin: auto;
    font-size: 24px;
    border-radius: 10px;
    text-align: center;
}

main div.contenidoJuego {
    display: flex;
    justify-content: center;
}

main div.botones4enLinea {
    display: flex;
    flex-direction: column;
    justify-content: initial;
    width: 3%;
    margin: 0 0 0 5px;
}
main div.botones4enLinea img{
    width: 40px;
    margin: 5px;
}

main div.botones4enLinea div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

main section.galeria {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin: 10px 0;
}

main section.galeria img{
    width: 13%;
    margin: 4px;
}

main section.instrucciones div.titulo{
    width: 30%;
    position: relative;
    margin: 0 auto;
}

main section.instrucciones div.titulo img{
    width: 100%;
}

main section.instrucciones div.titulo h2{
    position: absolute;
    top: 27%;
    left: 28%;
    background-color: transparent;
    font-size: 35px;
}

main section.instrucciones div.contenido{
    width: 100%;
    position: relative;
    margin: 0 auto;
}

main section.instrucciones div.contenido img{
    width: 100%;
    height: 500px;
}

main section.instrucciones div.contenido p{
    position: absolute;
    background-color: transparent;
    font-size: 27px;
    color: #FEF7F7;
}

main section.instrucciones div.contenido p.p1{
    top: 15%;
    left: 22%;
    width: 65%;
}

main section.instrucciones div.contenido p.p2{
    top: 40%;
    left: 18%;
    width: 65%;
}

main section.instrucciones div.contenido :last-child{
    top: 70%;
    left: 14%;
    width: 65%;
}

main section.comunidad {
    background-color: #D8D6FF;
    width: 95%;
    margin: 0 auto;
    margin-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 10px;
}

main section.comunidad div.titulo {    
    width: 30%;
    position: relative;
    margin: 0 auto;
}

main section.comunidad div.titulo img{
    width: 100%;
}

main section.comunidad div.titulo h2{
    position: absolute;
    top: 27%;
    left: 28%;
    background-color: transparent;
    font-size: 35px;
}

main section.comunidad div.escribirComentario { /*COMENTARIOS*/
    width: 50%;
    margin: 0 auto;
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
}

main section.comunidad div.escribirComentario  img{
    width: 6%;
    margin-right: 5px;
}

main section.comunidad div.escribirComentario  input{
    width: 91%;
    border: solid rgb(138, 138, 138) 3px;
    background-color: #FEF7F7;
    height: 35px;
    margin: auto 0;
    padding-left: 9px;
    color:  rgb(138, 138, 138) 3px;;
}

main section.comunidad div.escribirComentario  button{
    background-color: #272727;
    color: #FEF7F7;
    height: 35px;
    margin-left: 85%;
    padding: 0 6px;
    margin-top: 5px;
    font-size: 20px;
}

main section.comunidad div.comentarios {
    width: 50%;
    margin: 0 auto;
}

main section.comunidad div.comentarios div.comentario{
    border-top: 1px solid #a5a3a3;
    padding-top: 18px;
    margin-top: 18px;
}

main section.comunidad div.comentarios div.comentario div.contenido{
    display: flex;
    justify-content: space-between;
}

main section.comunidad div.comentarios div.comentario div.contenido div{
    display: flex;
    justify-content: start;
    width: 88%;
}

main section.comunidad div.comentarios div.comentario div.contenido img{
    width: 6%;
    margin-right: 4px;
}

main section.comunidad div.comentarios div.comentario div.contenido p.hora{
    font-size: 11px;
}

main section.comunidad div.comentarios div.comentario div.contenido span{
    font-size: 18px;
    font-weight: bold;
    color: #272727;
}

main section.comunidad div.comentarios div.comentario div.botonesComentarios {
    display: flex;
    justify-content: start;
    margin-top: 20px;
    margin-left: 40px;
}

main section.comunidad div.comentarios div.comentario div.botonesComentarios img{
    width: 15px;
    margin-right: 7px;
}

main section.comunidad div.comentarios div.comentario div.botonesComentarios p{
    margin-right: 7px;
    color: #969393;
}

main section.comunidad div.comentarios div.comentario div.botonesComentarios h4{
    font-size: 12px;
    color: #969393;
    margin-left: 7px;
}


